 
    .layout{
        .layout_sidebar{
            background-color: #ffffff;
            
           padding: 2rem;
           border-right: 1px solid #eee;
            .sidebarAuthor_false{
                display: none;
            }
        }
        .categoryPage{
            padding: 1rem 1rem;
            background-color: #ffffff;
        }
    }
    

