.user{
    padding: 0 50px;
    margin-top: 5rem;

    .user__tab{
        max-width: 700px;
        padding: 3em;
        border: 1px solid #86ba09   ;
        margin: auto;
    }
}

@media screen and (max-width:600px){
    .user{
      padding: 0 20px;
        .user__tab{
            padding: 0;
        }
    }
}